fastapi>=0.68,<0.80
uvicorn[standard]>=0.15,<0.19
pydantic>=1.9,<1.10
coredis>=3.4,<4.10
httpx>=0.16,<1
python-jose>=3.3,<3.4
hikari==2.0.0.dev109
python-dotenv>=0.19,<0.21
sentry_sdk>=1.5,<1.10
msgpack>=1,<1.1
async-stripe>=2.74,<4
downdoom@git+https://github.com/cleaner-bot/downdoom.git
async_commerce_coinbase@git+https://github.com/cleaner-bot/async-commerce-coinbase.git
secretclient@git+ssh://git@github.com/cleaner-bot/secret-client
cleaner_conf@git+ssh://git@github.com/cleaner-bot/cleaner-config
slowerapi@git+ssh://git@github.com/cleaner-bot/slowerapi