fastapi>=0.68,<0.76
uvicorn[standard]>=0.15,<0.18
pydantic>=1.9,<1.10
coredis>=3.0,<3.2
httpx>=0.16,<1
python-jose>=3.3,<3.4
slowapi>=0.1,<0.2
hikari==2.0.0.dev108
python-dotenv>=0.19,<0.21
sentry_sdk>=1.5,<1.6
msgpack>=1,<1.1
cleaner_conf@git+ssh://git@github.com/cleaner-bot/cleaner-config
cleaner_ratelimit@git+ssh://git@github.com/cleaner-bot/cleaner-ratelimit